 
 <!DOCTYPE html>
 <html lang="en">
 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Flask Fundamentals | Assignment: Counter</title>

 	<!-- FONTAWESOME -->
 	<script src="https://use.fontawesome.com/41aef5863b.js"></script>

	<!-- NORMALIZE CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
 	<!-- MAIN CSS -->
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

 </head>
 <body>
	
	<!-- ::MAIN CONTAINER
	======================================== -->
	<div class="main-container">
		
		<div class="container">

			<!-- ::ABOUT THIS COURSE
			======================================== -->
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-tittle">Assignment: Counter</h1>
						</div><!-- //panel-heading -->
						<div class="panel-body">
							<div class="c-box">
								<h2 class="c-class">Counter</h2>
								<p class="counter">Kicking <span>{{ session['counter']}}</span> times.</p>
							</div><!-- //c-box -->
							<form action="/kick" method="POST"><button class="btn btn-danger" type="submit">Ninja Kick <i class="fa fa-smile-o" aria-hidden="true"></i></button></form>
							<form action="/cool" method="POST"><button class="btn btn-primary" type="submit">Reset Kick <i class="fa fa-frown-o" aria-hidden="true"></i></button></form>
							<h4>Author: {{ name }}</h4>
						</div><!-- //panel-body -->
					</div><!-- //panel -->
				</div><!-- //col-md-6 -->
			</div><!-- //row -->
		</div><!-- //container -->
	</div><!-- //main-container -->

	<!-- jQUERY FILE-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<!-- MAIN JAVASCRIPT -->
 	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

 </body>
 </html>